.header {
  display: flex;
  flex-direction: row;
  column-gap: 2cm;
  direction: rtl;
  padding-right: 2cm;
}

h2 {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;

  padding: 0;
  overflow: hidden;
}
li a:hover {
  background-color: #051421;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  text-size-adjust: 2;
}
li {
  float: right;
}
